<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-brand">
                <a href="#" class="footer-logo"><img src="https://i.postimg.cc/JhsK6h1q/logo.png" alt="SCEO Logo"></a>

                <p class="section-text">known for providing innovative solutions to enhance online visibility and
                    improve search engine rankings for businesses</p>
            </div>

            <div class="footer-link-box">
                <ul class="footer-list">
                    <li>
                        <p class="h4">Company</p>
                    </li>

                    <li><a href="#" class="footer-link">About us</a></li>
                    <li><a href="#" class="footer-link">Careers</a></li>
                    <li><a href="#" class="footer-link">Press & Media</a></li>
                    <li><a href="#" class="footer-link">Contact us</a></li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <p class="h4">Discover</p>
                    </li>

                    <li><a href="#" class="footer-link">Our blog</a></li>
                    <li><a href="#" class="footer-link">Advertising</a></li>
                    <li><a href="#" class="footer-link">Plans & Pricing</a></li>
                    <li><a href="#" class="footer-link">Testimonials</a></li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <p class="h4">Legal</p>
                    </li>

                    <li><a href="#" class="footer-link">Terms of use</a></li>
                    <li><a href="#" class="footer-link">Privacy Policy</a></li>
                    <li><a href="#" class="footer-link">Cookie Policy</a></li>
                    <li><a href="#" class="footer-link">Site map</a></li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <p class="h4">Support</p>
                    </li>

                    <li><a href="#" class="footer-link">FAQs</a></li>
                    <li><a href="#" class="footer-link">Editor Help</a></li>
                    <li><a href="#" class="footer-link">Community</a></li>
                    <li><a href="#" class="footer-link">Live Chatting</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="footer-bottom">
        <div class="container">
            <p class="copyright">&copy; 2025 <a href="#">SANTHEEP G</a></p>

            <ul class="social-list">
                <li><a href="#" class="social-link">Github</a></li>
                <li><a href="#" class="social-link">Twitter</a></li>
                <li><a href="#" class="social-link">Instagram</a></li>
                <li><a href="#" class="social-link">Youtube</a></li>
            </ul>
        </div>
    </div>
</footer>