<section class="features" id="features">
    <div class="container">
        <p class="section-subtitle">Market Research</p>

        <h2 class="h3 section-title">Integrated marketing solutions that fuel business growth</h2>

        <ul class="features-list">
            <li>
                <div class="features-card">
                    <div class="card-icon">
                       


                    </div>

                    <div class="card-content">
                        <h3 class="h4 card-title">Advanced Analytics Review</h3>

                        <p class="section-text">Transform your data into actionable insights, driving growth and
                            innovation</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="features-card">
                    <div class="card-icon">
                    


                    </div>

                    <div class="card-content">
                        <h3 class="h4 card-title">Email Marketing Campaigns</h3>

                        <p class="section-text">Use this powerful tool to connect with your audience, drive sales, and
                            foster loyalty</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="features-card">
                    <div class="card-icon">
                       


                    </div>

                    <div class="card-content">
                        <h3 class="h4 card-title">Video Marketing</h3>

                        <p class="section-text">Where attention spans are short, video marketing shines as a way to
                            communicate messages quickly and memorably</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="features-card">
                    <div class="card-icon">
                        


                    </div>

                    <div class="card-content">
                        <h3 class="h4 card-title">Search Engine Optimization (SEO)</h3>

                        <p class="section-text">Make your website become more discoverable and relevant to users
                            searching for specific information</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="features-card">
                    <div class="card-icon">
                       


                    </div>

                    <div class="card-content">
                        <h3 class="h4 card-title">Pay Per Click (PPC)</h3>

                        <p class="section-text">Use dynamic and strategic approach in digital advertising to achieve the
                            best results</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="features-card">
                    <div class="card-icon">
                       


                    </div>

                    <div class="card-content">
                        <h3 class="h4 card-title">Content Marketing</h3>

                        <p class="section-text">Deliver the right content to the right audience at the right time</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>