<section class="faq" id="faq">
    <div class="container">
        <p class="section-subtitle">Frequently Asked Questions</p>

        <h2 class="h3 section-title">Everything you need to know before getting started</h2>

        <div class="grid-wrapper">
            <ul class="faq-list">
                <li>
                    <h3 class="h4 card-title">Can I see SCEO in action before purchasing?</h3>

                    <p class="section-text">Yes, we provide for you a free trial version, for around 7-15 days, of our
                        functionalities and features firsthand. This will allow you to interact with the inteface and
                        see the first results in real-time</p>
                </li>

                <li>
                    <h3 class="h4 card-title">What are the requirements for using SCEO?</h3>

                    <p class="section-text">SCEO require few demands to work in your company. This includes a desktop or
                        mobile device linked to a stable internet, a user account to access our features and keep your
                        device updated to ensure security and compatibility with the latest SCEO features</p>
                </li>

                <li>
                    <h3 class="h4 card-title">Can I use SCEO on different devices?</h3>

                    <ul class="faq-item-list">
                        <li>
                            <p class="section-text">Yes, SCEO is designed to work seamlessly on both desktop and mobile
                                devices</p>
                        </li>

                        <li>
                            <p class="section-text">We just emphasize that the SCEO mobile version has fewer features if
                                compared with desktop version. Also SCEO mobile version focus in practicity, with
                                simpler layouts, but more effective infos displayed. While desktop version is more
                                robust giving depth-info of your website and more features dedicated to analysis and
                                creation sceneries</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="faq-list">
                <li>
                    <h3 class="h4 card-title">Do you have a free trial?</h3>

                    <p class="section-text">Yes, we provide for you a free trial version, for around 7-15 days</p>
                </li>

                <li>
                    <h3 class="h4 card-title">How does SCEO handle my privacy?</h3>

                    <p class="section-text">SCEO takes your personal information seriously and implements several
                        measures to ensure your data is protected</p>

                    <p class="section-text">This include strict use of third-party serives, user management of data
                        preferences, transparency and regular information about how your data is collected and used and
                        compliance with relevant data protection regulations</p>
                </li>

                <li>
                    <h3 class="h4 card-title">I have an issue with my account</h3>

                    <ul class="faq-item-list">
                        <li>
                            <p class="section-text">When experiencing an issue, you can use our SCEO IA help right below
                                your login screen for fast support. Most of problems (like login problems, account
                                verification, billing issues, access issues, technical glitches) are solved using it.
                            </p>
                        </li>

                        <li>
                            <p class="section-text">If the above solution don't resolve your issue, our SCEO IA rapidly
                                contacts SCEO's customer support with prepared staff to solve more complex issues. Also
                                you can access our customer support by phone or email</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <p class="faq-bottom-link">
            Have any more questions?
            <a href="#">Ask your question here</a>
        </p>
    </div>
</section>