<section class="about" id="about">
    <div class="container">
        <div class="about-top">
            <figure class="about-banner">
                <img src="https://i.postimg.cc/c4zqpfcq/about-banner-1.png" alt="SEO Illustration">
            </figure>

            <div class="about-content">
                <p class="section-subtitle">Quick and Secure</p>

                <h2 class="h3 section-title">First page rankings. First name basis</h2>

                <p class="section-text">Optimize your website to rank higher in organic (non-paid) search results on
                    search engines like Google. Also improve the quality and relevance of your website's content,
                    structure, and user experience by using keyword research, on-page optimization, off-page
                    optimization and free traffic goals</p>

                <p class="section-text">With a strategic approach, you can reach new audiences, build brand loyalty, and
                    watch your customer base grow. Ready to take your business to the next level?</p>
            </div>
        </div>

        <div class="about-bottom">
            <figure class="about-banner">
                <img src="https://i.postimg.cc/BvcVnF2n/about-banner-2.png" alt="SEO Illustration">
            </figure>

            <div class="about-content">
                <h3 class="h4 about-bottom-title">Advanced Analytics Review</h3>

                <p class="section-text">Use a set of sophisticated techniques and tools used to analyze complex data
                    sets and extract valuable insights that go beyond traditional business intelligence methods. Here we
                    can include machine learning, and data mining techniques to uncover patterns, predict future trends,
                    and support decision-making processes</p>

                <h3 class="h4 about-bottom-title">Improve your website ranking fast</h3>

                <ul class="about-bottom-list">
                    <li class="about-bottom-item">
                        <p class="section-text">Start by developing a solid <abbr
                                title="Search Engine Optimization">SEO</abbr> optimization strategy that includes
                            keyword research to identify terms your audience is searching for</p>
                    </li>

                    <li class="about-bottom-item">
                        <p class="section-text">Next, create and publish relevant, authoritative content that addresses
                            these keywords, ensuring it's engaging and valuable to your visitors</p>
                    </li>

                    <li class="about-bottom-item">
                        <p class="section-text">Also, regularly update your existing content to keep it fresh and
                            relevant</p>
                    </li>

                    <li class="about-bottom-item">
                        <p class="section-text">Usually optimize your website's on-page <abbr
                                title="Search Engine Optimization">SEO</abbr> elements, such as title tags and meta
                            descriptions</p>
                    </li>

                    <li class="about-bottom-item">
                        <p class="section-text"> Additionally, aim to build a link-worthy site by promoting your content
                            through social media and outreach, encouraging other sites to link back to you</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>