<section class="hero" id="home">
    <div class="container">
        <div class="hero-content">
            <h1 class="h1 hero-title">Get more sales with <abbr title="Search Engine Optimization">SEO</abbr>, <abbr
                    title="Pay per click">PPC</abbr>, and email marketing</h1>

            <form action="" class="hero-form">
                <input type="text" name="name" placeholder="Enter your name" required class="input-field">
                <input type="email" name="email" placeholder="Enter your email" required class="input-field">

                <button type="submit" class="btn btn-primary">Get Started Now</button>
            </form>

            <p class="hero-text">
                <span>Free 30 days trial</span>
                <span>Exclusive Support</span>
                <span>No Fees</span>
            </p>
        </div>

        <figure class="hero-banner">
            <img src="https://i.postimg.cc/dtvLvpcG/hero-banner.png" alt="SEO Illustration">
        </figure>
    </div>
</section>