<section class="service" id="service">
    <div class="container">
        <h2 class="h2 section-title">Get More Customers Online</h2>

        <p class="section-text">Get more customers by mastering the digital landscape. Optimize your website, leverage
            social media, and harness the power of search engines</p>

        <ul class="service-list">
            <li>
                <div class="service-card">
                    <div class="card-icon"><ion-icon name="location-outline"></ion-icon></div>

                    <h3 class="h4 card-title">Local <abbr title="Search Engine Optimization">SEO</abbr></h3>

                    <p class="card-text">Effectively reach customers in your area and grow your business</p>
                </div>
            </li>

            <li>
                <div class="service-card">
                    <div class="card-icon"><ion-icon name="bar-chart-outline"></ion-icon></div>

                    <h3 class="h4 card-title">E-Commerce <abbr title="Search Engine Optimization">SEO</abbr></h3>

                    <p class="card-text">Significantly improve your online presence and drive more sales</p>
                </div>
            </li>

            <li>
                <div class="service-card">
                    <div class="card-icon"></div>

                    <h3 class="h4 card-title">Advanced Analytics</h3>

                    <p class="card-text">Transform your data into actionable insights, driving growth and innovation</p>
                </div>
            </li>

            <li>
                <div class="service-card">
                    <div class="card-icon"></div>

                    <h3 class="h4 card-title"><abbr title="Pay per click">PPC</abbr> Management</h3>

                    <p class="card-text">Use dynamic and strategic approach to digital advertising to achieve the best
                        results</p>
                </div>
            </li>
        </ul>
    </div>
</section>

