<section class="pricing" id="pricing">
    <div class="container">
        <div class="pricing-content">
            <p class="section-subtitle">Easiest to use</p>

            <h2 class="h3 section-title">One brilliant idea for every client</h2>

            <p class="section-text">We understand each client's unique needs, challenges, and aspirations by crafting a
                strategy that sparks innovation and delivers exceptional results</p>

            <button class="btn btn-primary">Pricing & Packages</button>
        </div>

        <figure class="pricing-banner">
            <img src="https://i.postimg.cc/FKNQpNZ1/pricing-banner.png" alt="Pricing Illustration">
        </figure>
    </div>
</section>